// src/MyBundle/Admin/VotableEntityAdmin

use Sonata\AdminBundle\Admin\Admin;
use Sonata\AdminBundle\Datagrid\ListMapper;
use Sonata\AdminBundle\Route\RouteCollection;

class VotableEntityAdmin extends Admin
{
    protected function configureListFields(ListMapper $listMapper)
    {
        ...
        $listMapper
            ->add('_action', 'actions', [
                'actions' => [
                    'edit' => [],
                    'export_votes' => ['template' => 'MyBundle:CRUD:list__action_export_votes.html.twig'],
                ],
            ])
        ;
    }

    protected function configureRoutes(RouteCollection $collection)
    {
        $collection->add('export_votes', $this->getRouterIdParameter().'/export_votes');
    }
}
